
<div class="container">
    <div class="row">
      <div class="col-12">
         
         <form [formGroup]="expiredProfilForm"  id="expiredProfilForm">                     
    
            <table class="table">               
                <thead>
                    <tr class="row streched">

                        <th class="col-2">Action</th>
                        <th class="col-3">Adresse sip</th>                    
                        <th class="col-1">Uid</th>
                        <th class="col-2">Prénom</th>
                        <th class="col-2">Nom</th>
                        <th class="col-1">Uo</th>
                        <th class="col-1">Site</th>                                               
                     </tr>
                </thead>
                <tbody>
                    <app-profil-expired-item *ngFor="let item of profilList | paginate: 
                    { itemsPerPage: 10, currentPage: page } ,
                    let index = index"
                    [profil]="item" [idProfil]="index" [profilList]="profilList">
                   </app-profil-expired-item>
              
                </tbody>
                <!-- ajout de 2 lignes vides pour pouvoir scroller avec le footer -->
                <br/><br/><br/>

                          <button class="btn btn-success" (click)="activateProfils()">
                      Valider
                </button>

                <footer class="w-100">
                    <!-- GESTION DE LA PAGINATION  -->
                     <pagination-controls class="d-flex justify-content-center" (pageChange)="page = $event"></pagination-controls>
        
                </footer>

            </table>
        </form>

      </div>



    </div>
    


  </div>

 


