<div class="col-12 custom-style">
    <a class="row clickable-row text-center"  [routerLink]="idUser">
        <td class="col-1">{{collaborater.collaboraterId}}</td>
        <td class="col-2">{{collaborater.firstName}}</td>
        <td class="col-2">{{collaborater.lastName}}</td>
        <th class="col-2">{{collaborater.deskPhoneNumber}}</th>
        <th class="col-2">{{collaborater.mobilePhoneNumber}}</th>
        <th class="col-2">{{collaborater.mailAdress}}</th>
        <td class="col-1">{{collaborater.orgaUnitCode}}</td>
    </a>
</div>
