<div class="container">
    <div class="row">
        <div class="col-12" id="sidebar" style="display: none">
            <hr>
            <form [formGroup]="filterForm" class="d-flex flex-wrap" id="filterForm">    
                <div class="form-group d-flex">
                    <label for="collaboraterId" class="col-5">Id annuaire :</label>
                    <input placeholder="123456" type="text" id="collaboraterId" class="col-7 form-control" formControlName="searchId">
                </div>
                <div class="form-group d-flex">
                    <label for="searchLastName" class="col-5">Nom :</label>
                    <input placeholder="Durand" type="text" id="searchLastName" class="col-7 form-control" formControlName="searchLastName">
                </div>
                <div class="form-group d-flex">
                    <label for="searchFirstName" class="col-5">Prénom :</label>
                    <input placeholder="Martin" type="text" id="searchFirstName" class="col-7 form-control" formControlName="searchFirstName">
                </div>
                <div class="form-group d-flex">
                    <label for="searchUo" class="col-5">UO :</label>
                    <input placeholder="00123" type="tel" id="searchUo" class="col-7 form-control" formControlName="searchUo">
                </div>
                <div class="form-group d-flex">
                    <label for="searchSite" class="col-5">Site :</label>
                    <input placeholder="00123" type="tel" id="searchSite" class="col-7 form-control" formControlName="searchSite">
                </div>
                <div class="form-group d-flex">
                    <label for="searchSamAccount" class="col-5">Account Name :</label>
                    <input placeholder="M000012345" type="email" id="searchSamAccount" class="col-7 form-control" formControlName="searchSamAccount">
                </div>
                <div class="form-group d-flex">
                    <div class="col-5">
                        <input type="checkbox" class="form-check-input ml-1" formControlName="searchVoiceActivate"
                            (click)=onVoiceClick()>
                        <label class="ml-4" for="searchVoiceEnabled" id="voiceLabel"
                                style="white-space: nowrap;">Voice Enabled :</label>
                    </div>
                    <div class="col-7 ml-2 custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1"
                        formControlName="searchVoiceEnabled" (click)=onVoiceEnabledClick()>
                        <label class="custom-control-label" for="customSwitch1"></label>
                    </div>
                </div>
                <div class="form-group d-flex">
                    <label for="searchVoiceEnabled" class="col-5">Accès international :</label>
                    <div class="custom-control custom-switch ml-2">
                        <input type="checkbox" class="col-7 custom-control-input" id="customSwitch2"
                        formControlName="searchVoicePolicy">
                        <label class="custom-control-label" for="customSwitch2"></label>
                    </div>
                </div>
                <div class="form-group d-flex">
                    <label for="searchExpirationDate" class="col-5">Date expiration :</label>
                    <input placeholder="jj/mm/aaaa" type="text" id="searchExpirationDate" class="col-7 form-control" formControlName="searchExpirationDate">
                </div>
            </form>
            <button class="btn btn-success mx-3" (click)="onSearchFilterClick()">Appliquer</button>
            <button class="btn btn-danger" (click)="onResetForm()">Réinitialiser</button>
            <br/><br />
        </div>
 
      <div class="col-12">
        <form [formGroup]="filterForm" class="form-group">
            <!-- not possible for using bootsrap style because of the sub-component
                same pb with the sorting functionnality -->
            <table class="table">              <!--table-striped-->
                <thead>
                    <tr class="row">
                        <th class="col-3 d-none d-lg-block" (click)=onSortClick(0)>adresse sip 
                            <fa-icon [icon]="faArrowDown" *ngIf="sortColum[0]===1"></fa-icon>
                            <fa-icon [icon]="faArrowUp" *ngIf="sortColum[0]===(-1)"></fa-icon>
                            <fa-icon [icon]="faArrowsAltV" *ngIf="sortColum[0]===0"></fa-icon>
                        </th>
                        <th class="col-2" (click)=onSortClick(1)>uid 
                            <fa-icon [icon]="faArrowDown" *ngIf="sortColum[1]===1"></fa-icon>
                            <fa-icon [icon]="faArrowUp" *ngIf="sortColum[1]===(-1)"></fa-icon>
                            <fa-icon [icon]="faArrowsAltV" *ngIf="sortColum[1]===0"></fa-icon>                        </th>
                        <th class="col-4 col-sm-3 col-lg-2" (click)=onSortClick(2)>prénom 
                            <fa-icon [icon]="faArrowDown" *ngIf="sortColum[2]===1"></fa-icon>
                            <fa-icon [icon]="faArrowUp" *ngIf="sortColum[2]===(-1)"></fa-icon>
                            <fa-icon [icon]="faArrowsAltV" *ngIf="sortColum[2]===0"></fa-icon>                        </th>
                        <th class="col-4 col-sm-3 col-lg-2" (click)=onSortClick(3)>nom 
                            <fa-icon [icon]="faArrowDown" *ngIf="sortColum[3]===1"></fa-icon>
                            <fa-icon [icon]="faArrowUp" *ngIf="sortColum[3]===(-1)"></fa-icon>
                            <fa-icon [icon]="faArrowsAltV" *ngIf="sortColum[3]===0"></fa-icon>                        </th>
                        <th class="col-md-2 col-lg-1 d-none d-lg-block" (click)=onSortClick(4)>uo 
                            <fa-icon [icon]="faArrowDown" *ngIf="sortColum[4]===1"></fa-icon>
                            <fa-icon [icon]="faArrowUp" *ngIf="sortColum[4]===(-1)"></fa-icon>
                            <fa-icon [icon]="faArrowsAltV" *ngIf="sortColum[4]===0"></fa-icon>                        </th>
                        <th class="col-2 col-md-3 col-lg-1 d-none d-sm-block" (click)=onSortClick(5)>site 
                            <fa-icon [icon]="faArrowDown" *ngIf="sortColum[5]===1"></fa-icon>
                            <fa-icon [icon]="faArrowUp" *ngIf="sortColum[5]===(-1)"></fa-icon>
                            <fa-icon [icon]="faArrowsAltV" *ngIf="sortColum[5]===0"></fa-icon>                        </th>                
                        <th class="col-1" (click)=onSortClick(6)>status 
                            <fa-icon [icon]="faArrowDown" *ngIf="sortColum[6]===1"></fa-icon>
                            <fa-icon [icon]="faArrowUp" *ngIf="sortColum[6]===(-1)"></fa-icon>
                            <fa-icon [icon]="faArrowsAltV" *ngIf="sortColum[6]===0"></fa-icon>                        </th>
                    </tr>
                </thead>
                <tbody>
                    <app-profil-list-item *ngFor="let item of profilList2 | paginate: 
                        { itemsPerPage: 10, currentPage: page, totalItems:numberOfProfil } | filterProfil : searchText,
                        let index = index"
                        [profil]="item" [idProfil]="index">
                    </app-profil-list-item>
                </tbody>
                <!-- ajout de lignes vides pour pouvoir scroller avec le footer -->
                <br/><br/><br/><br/><br/>
                <footer class="w-100">
                    <br/>
                    <!-- NE PAS SUPPRIMER : PROCHAINE POSITION DES BOUTONS -->
                    <div class="d-flex justify-content-start">
                        <a><button class="btn btn-secondary mx-2" (click)=collapseSideBar()>Filtres</button></a>
                        <a routerLink="create"><button class="btn btn-success mx-2">Créer</button></a>
                        <form [formGroup]="searchForm" class="my-2 my-lg-0">
                            <input class="form-control mx-2" style="width: 210px;" type="search" placeholder="Recherche dans la page"
                            formControlName="search">
                        </form>
                    </div>
                    <br/>
                    <pagination-controls class="d-flex justify-content-center" (pageChange)="onPageChanged($event)"></pagination-controls>
                </footer>

            </table>

        </form>

      </div>

      

    </div>
  </div>

 



