<div class="container">
    <table class="table  table-striped">
        <tr class="row">
            <th class="col-3">adresse sip</th>
            <th class="col-2">prénom</th>
            <th class="col-2">nom</th>
            <th class="col-1">uo</th>
            <th class="col-1">site</th>
            <th class="col-1">status</th>
        </tr>
        <app-profil-list-item *ngFor="let item of profilList2, let index = index"
            [profil]="item" [idProfil]="index">
        </app-profil-list-item>
    </table>
    <p><button class="btn-info" *ngIf="currentUserType==2 || currentUserType==3">Créer</button></p> 
</div>
