<div class="container">
    <table class="table  table-striped">
        <thead>
            <tr class="row">
                <th class="col-3">adresse sip</th>
                <th class="col-2">prénom</th>
                <th class="col-2">nom</th>
                <th class="col-1">uo</th>  
                <th class="col-1">dial plan</th>              
                <th class="col-1">status</th>
            </tr>
        </thead>        
        <app-profil-list-item *ngFor="let item of profilList2 | paginate: 
                    { itemsPerPage: 2, currentPage: page, totalItems:numberOfProfil }, let index = index"
            [profil]="item" [idProfil]="index">
        </app-profil-list-item>
    </table>
    <p><button class="btn-info" *ngIf="currentUserType==2 || currentUserType==3">Créer</button></p> 
    <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
</div>
