<div class="col-12">
 <!--   <a class="row clickable-row text-center" *ngIf="isExists()" [routerLink]="idUser">-->
    <a class="row clickable-row" [style.cursor]="'pointer'" (click)="getRoute(idUser)">
        <td class="col-4 col-sm-2 col-lg-1">{{collaborater.collaboraterId}}</td>
        <td class="col-4 col-md-2 custom-td">{{collaborater.firstName}}</td>
        <td class="col-4 col-md-2 custom-td">{{collaborater.lastName}}</td>
        <td class="col-2 d-none d-lg-block">{{collaborater.deskPhoneNumber}}</td>
        <td class="col-2 d-none d-lg-block">{{collaborater.mobilePhoneNumber}}</td>
        <td class="col-3 col-md-5 col-lg-2 d-none d-md-block custom-td">{{collaborater.mailAdress}}</td>
        <td class="col-1 d-none d-md-block">{{collaborater.orgaUnitCode}}</td>
    </a>
</div>
