  <div class="container">

  <nav class="navbar navbar-light bg-light sticky-top d-flex justify-content-start">
    <p class="navbar-brand d-none d-md-block">Gestion des profils Skype</p>
    
    <ul class="navbar-nav d-flex flex-row">
      <li routerLinkActive="active" class="nav-item" *ngIf="currentUserType===0">
        <a class="nav-link btn btn-toolbar" (click)="routingTo('auth')">Authentification</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="currentUserType!==0">
        <a class="nav-link btn btn-toolbar mx-2" (click)="routingTo('profils')">Profils Skype</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="currentUserType===3">
        <a class="nav-link btn btn-toolbar mx-2" (click)="routingTo('users')">Utilisateur</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="currentUserType!==0">
        <a class="nav-link btn btn-toolbar mx-2" (click)="routingTo('account')">
          <fa-icon [icon]="faUser"></fa-icon></a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="currentUserType!==0">
        <a class="nav-link btn btn-toolbar mx-2" (click)="OnDisconnect()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon></a>
      </li>
    </ul>

  </nav>

  <router-outlet></router-outlet>

</div>

  
  
  

