<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Gestion des profils Skype</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="auth">Authentification</a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="currentUserType!==0">
          <a class="nav-link" routerLink="profils">Profils Skype</a>
        </li>
        <li routerLinkActive="active" class="nav-item" *ngIf="currentUserType===3">
          <a class="nav-link" routerLink="users">Utilisateur</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="account">Mon compte</a>
        </li>
      </ul>
      <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Recherche dans la page"
          aria-label="Search" formControlName="search">
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>  
  
  

