<form [formGroup]="userForm">
    <div class="container">
        <p><br/><strong>Détail de l'utilisateur</strong></p>

        <div class="formGroup row">
            <label class="col-2" for="collaboraterId">Id annuaire :</label>
            <div class="col-4">
    <!--            <input type="text" id="collaboraterId" class="form-control" formControlName="collaboraterId" disabled>-->
                <label id="collaboraterId" >{{userResult.collaboraterId}}</label>
            </div>
        </div>
        <div class="formGroup row">
            <label class="col-2" for="lastName">Nom :</label>
            <div class="col-4">
<!--                <input type="text" id="lastName" class="form-control" formControlName="lastName" disabled>-->
                <label id="lastName" >{{userResult.lastName}}</label>
            </div>
        </div>
        <div class="formGroup row">
            <label class="col-2" for="firstName">Prénom :</label>
            <div class="col-4">
<!--                <input type="text" id="firstName" class="form-control" formControlName="firstName" disabled>-->
                <label id="firstName" >{{userResult.firstName}}</label>
            </div>
        </div>
        <div class="formGroup row">
            <label class="col-2" id="deskPhoneNumber">Tel bureau :</label>
            <div class="col-4">
<!--                <input type="tel" id="deskPhoneNumber" class="form-control" formControlName="deskPhoneNumber" disabled>-->
                <a [href]="linkPhoneDesk" target="_blank">{{userResult.deskPhoneNumber}}</a>
            </div>
        </div>
        <div class="formGroup row">
            <label class="col-2" id="mobilePhoneNumber">Tel portable :</label>
            <div class="col-4">
<!--                <input type="tel" id="mobilePhoneNumber" class="form-control" formControlName="mobilePhoneNumber" disabled>-->
                <a [href]="linkPhoneMobile" target="_blank">{{userResult.mobilePhoneNumber}}</a>
            </div>
        </div>
        <div class="formGroup row">
            <label class="col-2" id="mailAdress">Adresse Mail :</label>
            <div class="col-4">
<!--                <input type="email" id="mailAdress" class="form-control" formControlName="mailAdress" disabled>-->
                <a [href]="linkMail" target="_blank">{{userResult.mailAdress}}</a>
            </div>
        </div>
        <div class="formGroup row">
            <label class="col-2" for="orgaUnitCode">Code UO :</label>
            <div class="col-4">
<!--                <input type="text" id="orgaUnitCode" class="form-control" formControlName="orgaUnitCode" disabled>-->
                <label id="orgaUnitCode" >{{userResult.orgaUnitCode}}</label>
            </div>
        </div>
        <div class="formGroup row">
            <label class="col-2" id="localisation">Localisation :</label>
            <div class="col-4">
<!--                <input type="text" id="localisation" class="form-control" formControlName="localisation" disabled>-->
                <a [href]="linkLocate" target="_blank">{{this.localisation}}</a>
            </div>
        </div>
        <div class="formGroup row">
            <label class="col-2" for="userRolesForm">Roles :</label>
            <div class="col-4">
                <div class="form-check" *ngFor="let item of userRolesForm">
                    <input  type="checkbox" id={{item.name}} [value]="item.value" [checked]="item.checked"
                            (change)="onCheckRoleChange($event)" class="form-check-input">
                    <label class="form-check-label">{{item.value}}</label>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-6 text-center">
            <a routerLink="/users">
                <button class="btn btn-secondary">Retour</button>
            </a>
            <button [disabled]="!updateAuthorized" class="btn btn-success mx-3" (click)="updateUser()">Mettre à jour</button>
            <button class="btn btn-danger" (click)="deleteUser()">Supprimer</button>
        </div>
        <br/>
        <div class="col-md-6">
            <ngb-alert *ngIf="availableMessage" [type]="typeMessage" dismissible=true (close)="availableMessage=false">{{ successMessage }}</ngb-alert>
        </div>
    </div>
</form>
