<form [formGroup]="profilForm">

    <div class="container">

        <p><br /><strong>Détail du profil Skype : </strong></p>

        <div class="formGroup row my-2" >
            <label class="col-6 col-sm-3" ind="infosCollaborater">Infos collaborateurs :</label>
            <div class="col-6 col-sm-4">
                <!--            <input type="text" id="collaboraterId" class="form-control" formControlName="collaboraterId" disabled>-->
                <button  class="btn btn-secondary btn-sm"
                        (click)="this.isDisplayInfos = ! this.isDisplayInfos">...</button>
            </div>
        </div>
        <div *ngIf="isGetError">
            <div class="col-md-6">
                <ngb-alert *ngIf="availableMessage" [type]="typeMessage" dismissible=true (close)="availableMessage=false">{{ successMessage }}</ngb-alert>
            </div>
        </div>
        <div *ngIf="!isGetError">
            <div class="formGroup row my-2" *ngIf="isDisplayInfos">
                <label class="col-6 col-sm-3" for="collaboraterId">Id annuaire :</label>
                <div class="col-6 col-sm-4">
                    <!--            <input type="text" id="collaboraterId" class="form-control" formControlName="collaboraterId" disabled>-->
                    <label id="collaboraterId" >{{collaborater.collaboraterId}}</label>
                </div>
            </div>
            <div class="formGroup row my-2" *ngIf="isDisplayInfos">
                <label class="col-6 col-sm-3" for="lastName">Nom :</label>
                <div class="col-6 col-sm-4">
                    <!--                <input type="text" id="lastName" class="form-control" formControlName="lastName" disabled>-->
                    <label id="lastName" >{{collaborater.lastName}}</label>
                </div>
            </div>
            <div class="formGroup row my-2" *ngIf="isDisplayInfos">
                <label class="col-6 col-sm-3" for="firstName">Prénom :</label>
                <div class="col-6 col-sm-4">
                    <!--                <input type="text" id="firstName" class="form-control" formControlName="firstName" disabled>-->
                    <label id="firstName" >{{collaborater.firstName}}</label>
                </div>
            </div>
            <div class="formGroup row my-2" *ngIf="isDisplayInfos">
                <label class="col-6 col-sm-3" id="deskPhoneNumber">Tel bureau :</label>
                <div class="col-6 col-sm-4">
                    <!--                <input type="tel" id="deskPhoneNumber" class="form-control" formControlName="deskPhoneNumber" disabled>-->
                    <a [href]="linkPhoneDesk" target="_blank">{{collaborater.deskPhoneNumber}}</a>
                </div>
            </div>
            <div class="formGroup row my-2" *ngIf="isDisplayInfos">
                <label class="col-6 col-sm-3" id="mobilePhoneNumber">Tel portable :</label>
                <div class="col-6 col-sm-4">
                    <!--                <input type="tel" id="mobilePhoneNumber" class="form-control" formControlName="mobilePhoneNumber" disabled>-->
                    <a [href]="linkPhoneMobile" target="_blank">{{collaborater.mobilePhoneNumber}}</a>
                </div>
            </div>
            <div class="formGroup row my-2" *ngIf="isDisplayInfos">
                <label class="col-6 col-sm-3" id="mailAdress">Adresse Mail :</label>
                <div class="col-6 col-sm-4">
                    <!--                <input type="email" id="mailAdress" class="form-control" formControlName="mailAdress" disabled>-->
                    <a [href]="linkMail" target="_blank">{{collaborater.mailAdress}}</a>
                </div>
            </div>

            <div class="formGroup row my-2" *ngIf="isDisplayInfos">
                <label class="col-6 col-sm-3" id="localisation">Localisation :</label>
                <div class="col-6 col-sm-4">
                    <!--                <input type="text" id="localisation" class="form-control" formControlName="localisation" disabled>-->
                    <a [href]="linkLocate" target="_blank">{{this.localisation}}</a>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-6 col-sm-3" for="sip">Adresse SIP :</label>
            <div class="col-6 col-sm-4">
                <input type="text" id="sip" class="form-control" formControlName="sip" required
                    [attr.disabled]="(profilInputDesactivated === false) ? null : true">
                <div *ngIf="profilForm.get('sip').invalid" class="alert alert-danger">            
                    <div *ngIf="profilForm.get('sip').errors.required">
                        L'adresse sip est obligatoire
                    </div>
                    <div *ngIf="profilForm.get('sip').hasError('pattern')">
                        L'adresse sip doit commencer par sip:
                    </div>
                </div>
            </div>       
        </div>

        <div class="form-group row">
            <label class="col-6 col-sm-3" for="voice">Enterprise Voice Enabled :</label>
            <div class="col-6 col-sm-4">
                <div class="form-check form-check-inline" *ngFor="let item of voiceEnabled">
                        <label class="form-check-label">{{item.name}}</label>
                        <input type="radio" id="item.name" class="form-check-input" [value]="item.value"
                        [checked]="item.checked" formControlName="voiceEnabled"
                        [attr.disabled]="(profilInputDesactivated === false) ? null : true"
                        (click)=checkVoicePolicy(this.profilForm)>
                </div>
            </div>           
        </div>

        <div class="form-group row" >
            <label class="col-6 col-sm-3" for="voicePolicy">Voice Policy :</label>
            <div class="col-6 col-sm-4">
                <input type="text" id="voicePolicy" class="form-control" formControlName="voicePolicy"
                [attr.disabled]="(profilInputDesactivated === false) ? null : true">
            </div>
        </div>

        <div class="form-group row" >
            <label  class="col-6 col-sm-3" for="dialPlan">Dial Plan :</label>
            <div class="col-6 col-sm-4">
                <input type="text" id="dialPlan" class="form-control" formControlName="dialPlan"
                [attr.disabled]="(profilInputDesactivated === false) ? null : true">
            </div>
        </div>
        <div class="form-group row" >
            <label  class="col-6 col-sm-3" for="samAccount">SAM Account Name :</label>
            <div class="col-6 col-sm-4">
                <input type="text" id="samAccount" class="form-control" formControlName="samAccount"
                [attr.disabled]="(profilInputDesactivated === false) ? null : true">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-6 col-sm-3" for="exUmEnabled">ExUm Enabled :</label>
            <div class="col-6 col-sm-4">
                <div class="form-check form-check-inline" *ngFor="let item of exUmEnabled">
                        <label class="form-check-label">{{item.name}}</label>
                        <input type="radio" id="item.name" class="form-check-input" [value]="item.value"
                        [checked]="item.checked" formControlName="exUmEnabled"
                        [attr.disabled]="(profilInputDesactivated === false) ? null : true">                    
                </div>
            </div>           
        </div>

        <div class="form-group row" >
            <label  class="col-6 col-sm-3" for="exchUser">exchUser :</label>
            <div class="col-6 col-sm-4">
                <div class="form-check form-check-inline" *ngFor="let item of exchUser">
                    <label class="form-check-label">{{item.name}}</label>
                    <input type="radio" id="item.name" class="form-check-input" [value]="item.value"
                           [checked]="item.checked" formControlName="exchUser"
                           [attr.disabled]="(profilInputDesactivated === false) ? null : true">
                </div>
            </div>
        </div>
        <div class="form-group row" >        
            <label  class="col-6 col-sm-3" for="objectClass">Object Class :</label>
            <div class="col-6 col-sm-4">
                <input type="text" id="objectClass" class="form-control" formControlName="objectClass"
                [attr.disabled]="(profilInputDesactivated === false) ? null : true">
            </div>
        </div>

        <div class="form-group row" >        
            <label  class="col-6 col-sm-3" for="expirationDate">Date d'expiration :</label>
            <div class="col-6 col-sm-4">
                <input type="text" id="expirationDate"  class="form-control" formControlName="expirationDate"
                >
            </div>
        </div>

        <div class="form-group row">
            <label class="col-6 col-sm-3" for="voice">Status du profil :</label>
            <div class="col-6 col-sm-4">
                <div class="form-check form-check-inline" *ngFor="let item of statusProfile">
                    <label class="form-check-label">{{item.name}}</label>
                    <input type="radio"  name="status" formControlName="status"
                    [id]="item.value" class="form-check-input"
                    [value]="item.value" [checked]="item.checked"
                    [attr.disabled]="item.disabled === false ? null : true"
                    (click)="checkActiveInput2(item.value)">
                </div>
            </div>           
        </div>

        <br class="custom-scroll"/><br class="custom-scroll"/><br class="custom-scroll"/>
        <!-- <footer class="btn-group row" style="justify-content: center;" > -->
        <footer class="text-center d-flex justify-content-start custom-foot" >
            <div>
                <button class="ml-3 btn btn-secondary" (click)="returnToList()">
                Retour</button>
            </div>
            <div class="ml-1 ml-sm-4">
                <button class="btn btn-secondary" (click)="routeToEvents()">
<!--                    <a routerLink="events">Journal</a>-->
                Journal</button>
            </div>
            <div class="mx-1 mx-sm-4">
                <button type ="submit" class="btn btn-success custom-btn" id="updateButton"
                *ngIf="currentUserType==2 || currentUserType==3"
                (click)="updateProfil()"
                [attr.disabled]="(!updateAuthorized) ? true : null">Modifier</button>
            </div>
            <div >
                <button class="btn btn-danger" *ngIf="currentUserType==2 || currentUserType==3" (click)="deleteProfil()">Supprimer</button>
            </div>
        </footer> 
    </div>
    <div *ngIf="!isGetError">
        <div class="col-md-6">
            <ngb-alert *ngIf="availableMessage" [type]="typeMessage" dismissible=true (close)="availableMessage=false">{{ successMessage }}</ngb-alert>
        </div>
    </div>
</form>

