<form [formGroup]="profilForm">

    <div class="container">

        <p><br /><strong>Détail du profil Skype : </strong></p>
        
        <div class="form-group row">
            <label class="col-3" for="sip">Adresse SIP :</label>
            <div class="col-4">
                <input type="text" id="sip" class="form-control" formControlName="sip" required
                    [attr.disabled]="(!profilInputDesactivated === true) ? null : true">
                <div *ngIf="profilForm.get('sip').invalid" class="alert alert-danger">            
                    <div *ngIf="profilForm.get('sip').errors.required">
                        L'adresse sip est obligatoire
                    </div>
                    <div *ngIf="profilForm.get('sip').hasError('pattern')">
                        L'adresse sip doit commencer par sip:
                    </div>
                </div>
            </div>       
        </div>

        <div class="form-group row">
            <label class="col-3" for="voice">Enterprise Voice Enabled :</label>
            <div class="col-4">
                <div class="form-check form-check-inline" *ngFor="let item of voiceEnabled">
                        <label class="form-check-label">{{item.name}}</label>
                        <input type="radio" id="item.name" class="form-check-input" [value]="item.value"
                        [checked]="item.checked" formControlName="voiceEnabled"
                        [attr.disabled]="(!profilInputDesactivated === true) ? null : true"/>
                </div>
            </div>           
        </div>

        <div class="form-group row" >
            <label class="col-3" for="voicePolicy">Voice Policy :</label>
            <div class="col-4">
                <input type="text" id="voicePolicy" class="form-control" formControlName="voicePolicy"
                [attr.disabled]="(!profilInputDesactivated === true) ? null : true">
            </div>
        </div>

        <div class="form-group row" >
            <label  class="col-3" for="dialPlan">Dial Plan :</label>
            <div class="col-4">
                <input type="text" id="dialPlan" class="form-control" formControlName="dialPlan"
                [attr.disabled]="(!profilInputDesactivated === true) ? null : true">
            </div>
        </div>
        <div class="form-group row" >
            <label  class="col-3" for="samAccount">SAM Account Name :</label>
            <div class="col-4">
                <input type="text" id="samAccount" class="form-control" formControlName="samAccount"
                [attr.disabled]="(!profilInputDesactivated === true) ? null : true">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3" for="exUmEnabled">ExUm Enabled :</label>
            <div class="col-4">
                <div class="form-check form-check-inline" *ngFor="let item of exUmEnabled">
                        <label class="form-check-label">{{item.name}}</label>
                        <input type="radio" id="item.name" class="form-check-input" [value]="item.value"
                        [checked]="item.checked" formControlName="exUmEnabled"
                        [attr.disabled]="(!profilInputDesactivated === true) ? null : true"/>                     
                </div>
            </div>           
        </div>

        <div class="form-group row" >
            <label  class="col-3" for="exchUser">exchUser :</label>
            <div class="col-4">
                <div class="form-check form-check-inline" *ngFor="let item of exchUser">
                    <label class="form-check-label">{{item.name}}</label>
                    <input type="radio" id="item.name" class="form-check-input" [value]="item.value"
                           [checked]="item.checked" formControlName="exchUser"
                           [attr.disabled]="(!profilInputDesactivated === true) ? null : true"/>
                </div>
            </div>
        </div>
        <div class="form-group row" >        
            <label  class="col-3" for="objectClass">Object Class :</label>
            <div class="col-4">
                <input type="text" id="objectClass" class="form-control" formControlName="objectClass"
                [attr.disabled]="(!profilInputDesactivated === true) ? null : true">
            </div>
        </div>

        <div class="form-group row" >        
            <label  class="col-3" for="expirationDate">Date d'expiration :</label>
            <div class="col-4">
                <input type="text" id="expirationDate"  class="form-control" formControlName="expirationDate"
                >
            </div>
        </div>

        <div class="form-group row">
            <label class="col-3" for="voice">Status du profil :</label>
            <div class="col-4">
                <div class="form-check form-check-inline" *ngFor="let item of statusProfile; let index = index">
                        <label class="form-check-label">{{item.name}}</label>
                        <input type="radio"  name="status" formControlName="status"
                        [id]="item.value" class="form-check-input"
                        [value]="item.value" [checked]="this.statusProfile[index].checked"
                        [attr.disabled]="item.disabled === false ? null : true"
                        />
                </div>  
            </div>           
        </div>

        <div class="btn-group row" style="justify-content: center;" >
            <div class="col-2">
                <button class="btn btn-secondary" (click)="returnToList()">
                Retour</button>
            </div>
            <div class="col-2 ml-4">
                <button class="btn btn-secondary">
                    <a routerLink="events">Journal</a>
                </button>
            </div>
            <div class="col-2 mx-4">
                <button type ="submit" class="btn btn-success" id="updateButton"
                *ngIf="currentUserType==2 || currentUserType==3"
                (click)="updateProfil()"
                [attr.disabled]="(profilForm.invalid || (!updateAuthorized)) ? true : null">Modifier</button>
            </div>
            <div class="col-2">
                <button class="btn btn-danger" *ngIf="currentUserType==2 || currentUserType==3" (click)="deleteProfil()">Supprimer</button>
            </div>
        </div> 
    </div>
    <div class="col-md-6">
        <ngb-alert *ngIf="availableMessage" [type]="typeMessage" dismissible=true (close)="availableMessage=false">{{ successMessage }}</ngb-alert>
    </div>
</form>

