
<div class="container">

    <table class="table" *ngIf="!availableMessage">
        <thead>
            <tr class="row">
                <th class="col-5 col-lg-3">Date événement</th>
                <th class="col-4 col-lg-2">Type événement</th>
                <th class="col-2">Id</th>
                <th class="col-2 d-none d-lg-block">Nom</th>  
                <th class="col-2 d-none d-lg-block">Prénom</th>              
                <th class="col-1 ml-n4">Détail</th>
            </tr>
        </thead>        
        
        <div class="col-12 custom-style">
            <app-profil-detail-events-item *ngFor="let item of eventsList | paginate : { itemsPerPage: 10, currentPage: page }"
             [event]="item">
            </app-profil-detail-events-item>
        </div>
        <br/>
        <a [routerLink]="['/profils', idProfil]">
            <button class="btn btn-secondary">Retour</button>
        </a>
        <footer>
             <pagination-controls class="d-flex justify-content-center"
                    (pageChange)="page = $event"></pagination-controls>
        </footer>
    </table>


    <div class="col-md-6">
        <ngb-alert *ngIf="availableMessage" [type]="typeMessage" dismissible=true >{{ successMessage }}</ngb-alert>
    </div>
  </div>

