
<div class="container">

    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-4 col-lg-2">Date événement</th>
                <th class="col-4 col-lg-2">Type événement</th>
                <th class="col-2">Id</th>
                <th class="col-2 d-none d-lg-block">Nom</th>  
                <th class="col-2 d-none d-lg-block">Prénom</th>              
                <th class="col-2 ">Détail</th>
            </tr>
        </thead>        
        
        <div class="col-12 custom-style">
            <app-profil-detail-events-item *ngFor="let item of eventsList | paginate : { itemsPerPage: 10, currentPage: page }"
             [event]="item">
            </app-profil-detail-events-item>
        </div>
        <br/>
        <footer class="w-100">
            <a [routerLink]="['/profils', idProfil]">
                <button class="btn btn-secondary">Retour</button>
            </a>
            <pagination-controls  style="background-color: #F8F9FA;
                                        margin-left: -15px;
                                        padding-top: 10px;"
            class="d-flex justify-content-center"
                    (pageChange)="page = $event"></pagination-controls>
        </footer>    
    </table>
  </div>

