<form [formGroup]="profilForm">

    <div class="container">

        <p><br /><strong>Détail du profil Skype : </strong></p>
        
        <div class="form-group row" >
            <label class="col-2" for="sip">Adresse SIP :</label>
            <div class="col-4">
                <input type="text" id="sip" class="form-control" formControlName="sip">
            </div>
        </div>

        <div class="form-group row" >
            <label class="col-2" for="voicepolicy">Voice Policy :</label>
            <div class="col-4">
                <input type="text" id="voicepolicy" class="form-control" formControlName="voicepolicy">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2" for="voice">Enterprise Voice Enabled :</label>
            <div class="col-4">
                <div class="raw" *ngFor="let item of voiceEnabled">
                    <div class="col">
                        <label >{{item.name}}
                            <input type="radio" id="voice" class="form-control" [value]="item.value" [checked]="item.checked" formControlName="voiceEnabled" />
                        </label>
                     </div>   
                </div>
            </div>           
        </div>

        <div class="form-group row" >
            <label  class="col-2" for="dialPlan">Dial Plan :</label>
            <div class="col-4">
                <input type="text" id="dialPlan" class="form-control" formControlName="dialPlan">
            </div>
        </div>
        <div class="form-group row" >
            <label  class="col-2" for="samAccount">SAM Account Name :</label>
            <div class="col-4">
                <input type="text" id="samAccount" class="form-control" formControlName="samAccount">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2" for="voice">ExUm Enabled :</label>
            <div class="col-4">
                <div class="raw" *ngFor="let item of exUmEnabled">
                    <div class="col">
                        <label >{{item.name}}
                            <input type="radio" id="voice" class="form-control" [value]="item.value" [checked]="item.checked" formControlName="exUmEnabled" />
                        </label>
                     </div>   
                </div>
            </div>           
        </div>

        <div class="form-group row" >
            <label  class="col-2" for="exchUser">exchUser :</label>
            <div class="col-4">
                <input type="text" id="exchUser" class="form-control" formControlName="exchUser">
            </div>
        </div>
        <div class="form-group row" >        
            <label  class="col-2" for="objectClass">Object Class :</label>
            <div class="col-4">
                <input type="text" id="objectClass" class="form-control" formControlName="objectClass">
            </div>
        </div>
        <div class="form-group row" >
            <label  class="col-2" for="status">Status du profil :</label>
            <div class="col-4">
                <input type="text" id="status" class="form-control" formControlName="status">
            </div>    
        </div>

        <div class="form-group row" >
            <div class="col-2">
                <button class="btn-info">
                    <a routerLink="/profils">Retour à la liste</a>
                </button>
            </div>
            <div class="col-2">
                <button class="btn-info">
                    <a routerLink="events">Journal des évènements</a>
                </button>
            </div>
            <div class="col-2">
                <button type ="submit" class="btn-info" *ngIf="currentUserType==2 || currentUserType==3"
                        (click)="updateProfil()">Modifier</button>
            </div>
            <div class="col-2">
                <button class="btn-info" *ngIf="currentUserType==2 || currentUserType==3" (click)="deleteProfil()">Supprimer</button>
            </div>       
        </div>  
    </div>
</form>

