<p><br/><strong>Recherche collaborateur : </strong></p>
<form [formGroup]="collaboraterForm" class="d-flex flex-wrap">    
    <div class="form-group d-flex">
        <label for="collaboraterId" class="col-5">Id annuaire :</label>
        <input placeholder="123456" type="text" id="collaboraterId" class="col-7 form-control" formControlName="collaboraterId">
    </div>
    <div class="form-group d-flex">
        <label for="lastName" class="col-5">Nom :</label>
        <input placeholder="Durand" type="text" id="lastName" class="col-7 form-control" formControlName="lastName">
    </div>
    <div class="form-group d-flex">
        <label for="firstName" class="col-5">Prénom :</label>
        <input placeholder="Martin" type="text" id="firstName" class="col-7 form-control" formControlName="firstName">
    </div>
    <div class="form-group d-flex">
        <label for="deskPhoneNumber" class="col-5">Tel bureau :</label>
        <input placeholder="0102030405" type="tel" id="deskPhoneNumber" class="col-7 form-control" formControlName="deskPhoneNumber">
    </div>
    <div class="form-group d-flex">
        <label for="mobilePhoneNumber" class="col-5">Tel portable :</label>
        <input placeholder="0602030405" type="tel" id="mobilePhoneNumber" class="col-7 form-control" formControlName="mobilePhoneNumber">
    </div>
    <div class="form-group d-flex">
        <label for="mailAdress" class="col-5">Adresse Mail :</label>
        <input placeholder="toto@tutu.com" type="email" id="mailAdress" class="col-7 form-control" formControlName="mailAdress">
    </div>
    <div class="form-group d-flex">
        <label for="orgaUnitCode" class="col-5">Code UO :</label>
        <input placeholder="00604" type="text" id="orgaUnitCode" class="col-7 form-control" formControlName="orgaUnitCode">
    </div>

</form>

<button class="btn btn-success mx-3" (click)="onSearch()">Rechercher</button>
<button class="btn btn-danger" (click)="onResetForm()">Réinitialiser</button>

<br/><br />
<!-- <div class="col-md-6">
    <ngb-alert *ngIf="availableMessage" [type]="typeMessage" (close)="availableMessage=false">{{ userMessage }}</ngb-alert>
</div> -->
<div class="container">
    <div class="col-12">
        <table class="table" *ngIf="isSearched">
            <thead>
                <tr class="row">
                    <th class="col-4 col-sm-2 col-lg-1">Id</th>
                    <th class="col-4 col-md-2 ">prénom</th>
                    <th class="col-4 col-md-2">nom</th>
                    <th class="col-2 d-none d-lg-block">Tel bureau</th>
                    <th class="col-2 d-none d-lg-block">Tel portable</th>
                    <th class="col-3 col-md-5 col-lg-2 d-none d-md-block">Adresse Mail</th>
                    <th class="col-1 d-none d-md-block">uo</th>
                </tr>
            </thead>
            <app-collaborater-search-item *ngFor="let item of collaboraterListResult 
            | paginate: { itemsPerPage: 10, currentPage: page}"
            [collaborater]="item" [idUser]="item.collaboraterId" [type]="type">
            </app-collaborater-search-item>
            <div class="col-md-6 custom-msg">
                <ngb-alert *ngIf="availableMessage" [type]="typeMessage" (close)="availableMessage=false">{{ userMessage }}</ngb-alert>
            </div>
            <footer>
                <pagination-controls  style="background-color: #F8F9FA;
                                            margin-left: -45px;
                                            padding-top: 10px;"
                                    class="d-flex justify-content-center"
                        (pageChange)="page = $event"></pagination-controls>
            </footer>
        </table>
    </div>
</div>


